@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  /* background: #eeebdd; */
  background: #d3e4cd;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #eeebdd;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.navbar .logo a span {
  color: #99a799;
}
.navbar.sticky .logo a span {
  color: #9a9483;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #d3e4cd;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #d3e4cd;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
/* home section styling */
.home {
  display: flex;
  color: black;
  height: 100vh;
  min-height: 500px;
  font-family: "Poppins", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #9a9483;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #eeebdd;
  color: #9a9483;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #eeebdd;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #d3e4cd;
  background: none;
}

/* all similar content styling */
section {
  padding: 100px 0;
}
section .title,
.teams,
.contact,
footer,
.portfolio,
.about {
  font-family: "Poppins", sans-serif;
}

.about .about-content,
.projects .projects-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #9a9483;
  background: #fff;
  transform: translateX(-50%);
}

/* about section styling */

/* .about {
  font-family: "Poppins", sans-serif;
} */

.about .title::after {
  content: "who i am";
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #9a9483;
}

.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #d3e4cd;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #d3e4cd;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #9a9483;
  background: none;
}

/* projects styling */

/* .projects .projects-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects .projects-content .card:hover {
  background: #d3e4cd;
}

.projects .projects-content .card .box {
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover .box {
  transform: scale(1.05);
}
/* .projects .projects-content .card i {
  font-size: 50px;
  color: crimson;
} */

/* .projects .projects-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
*/

/* teams and portfolio styling */

/* .teams,
.portfolio {
  color: #111;
  background: #fff;
} */

.teams .title::after {
  content: "my fellow saying";
}

.portfolio .title::after {
  content: "selected works";
}

.teams .carousel .card,
.portfolio .carousel .card {
  background: #fff;
  color: #111;

  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

/* .teams .carousel .card:hover,
.portfolio .carousel .card:hover {
  background: #d3e4cd;
} */

.teams .carousel .card .testimonialBox,
.portfolio .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.teams .carousel .card:hover .testimonialBox,
.portfolio .carousel .card:hover .box {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
/* .teams .carousel .card img, */
.portfolio .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #9a9483;
  transition: all 0.3s ease;
}

/* .teams .carousel .card:hover img, */
.portfolio .carousel .card:hover img {
  border-color: #d3e4cd;
}

.testimonialBox .text,
.box .text {
  color: #9a9483;
  font-weight: bold;
  margin-top: 10px;
}

.box .read-btn {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #d3e4cd;
  text-transform: uppercase;
  color: #9a9483;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box .read-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.box .read-btn:hover::before {
  transform: scaleY(0);
}
.box .read-btn::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}

.box .read-btn:hover::after {
  transform: scaleX(0);
}
.box .read-btn span {
  position: relative;
  z-index: 3;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #9a9483 !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: #d3e4cd !important;
}

/* footer styling */

footer {
  background: #eeebdd;
  padding: 20px 23px;
  color: #222;
}

footer span a {
  color: #9a9483;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
  text-align: justify;
  list-style: none;
}

#aboutDesc p {
  content: "\00BB";
  color: #9a9483;
}

#aboutDesc span {
  font-size: 19px;
  color: #9a9483;
  font-weight: bold;
}

/* services */
.testimonialBox {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  color: #999;
}

/* .testimonialBox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
  height: 50px;
  width: 20px;
} */
.testimonialBox p {
  font-size: 15px;
}
.testimonialBox .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 10px;
}

.testimonialBox .details .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonialBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2196f3;
  line-height: 1.1em;
}

.testimonialBox .details h3 span {
  font-size: 12px;
  color: #666;
}

/* read more button */
.testimonialBox .showText {
  font-size: 12px;
}

.testimonialBox .moreText {
  display: none;
}

.testimonialBox .read-more-btn {
  font-size: 11px;
  color: #9a9483;
  text-decoration: underline;
}

.testimonialBox .showText.show-more .moreText {
  display: inline;
}
/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #eeebdd;
    padding-top: 80px;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
  .portfolio .projects-content .card {
    width: calc(50% -10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }

  .projects .projects-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}

/* contact styling */
.contact .title::after {
  content: "get in touch";
}

.contact .contact-content .column {
  width: calc(50% - 30pxs);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #9a9483;
}
.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}
